/* font import */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*----------------------------- 
          common style
 ------------------------------*/
*{
    margin: 0;
    padding: 0;
}
 body{
    font-family: 'Poppins', sans-serif;
 }
 a{
     text-decoration: none;
 }
 img{
     display: block;
     width: 100%;
     height: auto;
 }
 li{
     list-style: none;
 }

  /*----------------------------- 
          Header Style
 ------------------------------*/
 header{
    background-color: #2D25A0;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 70px;

}

.header-items{
    width: 1160px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
}

.login-panel p,  .button a{
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    color: #fff;
}
.login-panel .fas{
    padding-right: 15px;
}
.header-bottom{
    display: flex;
    width: 1160px;
    margin: 67px auto 0;
    padding-bottom: 100px;
}
.header-bottom .banner{
    width: 556px;
    height: 438px;
}

.header-text h1{
    font-size: 64px;
    color: #fff;
}
.button .fas{
    padding-left: 5px;
}
/* .header-text{
    padding-left: 20px;
} */



/*-------------------------------
      main part style 
---------------------------*/

.container{
   width: 80%;
   margin: 0 auto;
}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 27px;
   grid-column-gap: 30px;
   margin-bottom: 80px;
}

.player{
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   padding: 15px;
   border-radius: 10px;
}

.player-info > h1 {
    padding: 20px 0;
}

/*--------------------------------
         top3 player 
---------------------------------*/

.top-players > h1{
   text-align: center;
   color: brown;
   padding: 30px 0;
   font-size: 25px;
}

/*---------------------------------
          hightlights part style 
 -------------------------------------*/

 .highlights{
     margin-top: 200px;
     margin-bottom: 100px;
     display: flex;
 }

 .highlights p{
     padding: 20px 0;
 }

 /* ---------------------
 bottom part 
 --------------------------*/
.bottom-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

 .bottom-logo-png{
     width: 483px;
     height: 110px;
 }

 .social-icon{
     margin-top: 30px;
     margin-bottom: 20px;
 }

 .social-icon i{
     background-color: #7f8c8d;
    color: #fff;
    padding: 5px;
    margin: 0 5px;
    font-size: 20px;
    border: 1px solid rgb(248, 246, 246);
    border-radius: 50%;
 }

 /*--------
  today match style 
  ----------*/

  .today-match{
      background-color: #95a5a6;
      display: flex;
      justify-content: space-between;
      padding: 50px 20px;
      border-radius: 10px;
      margin-bottom: 100px;
  }
.match-1 h1{
    color: #2980b9;
}
  .match-1 h3{
      padding-left: 90px;
      padding-top: 20px;
  }



  /*------------------------------------
             responsive for mobile 
   -------------------------------------*/

   @media (max-width: 668px){
       
        .header-items{
            width: 900px;
            height: 44px;
            
        }
        .players{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .highlights{
            display: flex;
            flex-direction: column;
        }
        .highlights-photo{
            padding-top: 20px;
        }
        .today-match{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
   }

